@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: satoshi;
    src: url(./assets/fonts/satoshi.ttf);
}

:root {
    --textcolor: #201f1d;
    --white: #ffffff;
  }

#navbar-default,.site-name{
    font-family: satoshi;
    font-size: 30px;
    color: #201f1d;
}